<div class="card border rounded-3 up-hover p-4 mb-4">
    <div class="row g-3">
        <div class="col-lg-5">
            {% assign tags = post.tags | sort_natural %}
            {% for tag in tags %}
            <a href="#" class="badge bg-dark mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ tag }}</a>
            {% endfor %}
            <h2 class="card-title">
                <a href="{{ post.url | absolute_url }}" class="btn-link text-reset stretched-link">{{ post.title | strip_html }}</a>
            </h2>
            <div class="d-flex align-items-center position-relative mt-3">
                {% assign authors = site.authors | where: "id", post.author %}
                {% for author in authors %}
                <div class="avatar me-2">
                    <img class="avatar-img rounded-circle" src="{{ author.avatar }}" alt="{{ author.name }}">
                </div>
                <div>
                    <h5 class="mb-1"><a href="{{ '/authors/' | append: author.id | relative_url }}" class="stretched-link text-reset btn-link">{{ author.name }}</a></h5>
                    <ul class="nav align-items-center small">
                        <li class="nav-item me-3">{% include date-pt-BR.html date = post.date %}</li>
                        <li class="nav-item"><i class="far fa-clock me-1"></i>{% include reading-time.html content=post.content %}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <p>{{ post.excerpt | strip_html }}</p>
        </div>
        <div class="col-md-6 col-lg-3">

        </div>
    </div>
</div>