<div class="widget widget-author">
    <h4 class="widget-title">Autores</h4>
    {% assign authors = site.data.authors | sort %}
    {% for author in authors %}
    <div class="media align-items-center">
        <div class="mr-3">
            <img class="widget-author-image" src="{{ author[1].avatar }}">
        </div>
        <div class="media-body">
            <h5 class="mb-1"><a class="post-title" href="/autores/{{ author[0] }}">{{ author[1].name }}</a></h5>
            <span>{{ author[1].bio }}</span>
        </div>
    </div>
    {% endfor %}
</div>