---
layout: default
---

<section class="section">
    <div class="py-4"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 mb-4">
                <h1 class="h2">Mostrando itens de <mark>{{ page.title }}</mark></h1>
            </div>
            <div class="col-lg-10">
                {% for post in page.posts %}
                {% include post-item.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
