---
layout: default
---

<div class="py-4"></div>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-lg-9 mb-5 mb-lg-0">
                <article>
                    {% if page.image %}
                    <div class="mb-4">
                        <img src="{{ page.image }}" class="card-img" alt="{{ page.title | strip_html }}" style="width: 825px;">
                    </div>
                    {% endif %}
                    <h1 class="h2">{{ page.title }}</h1>
                    <ul class="card-meta my-3 list-inline">
                        <li class="list-inline-item">
                            {% assign author = site.data.authors[page.author] %}
                            <a href="author-single.html" class="card-meta-author">
                                <img src="{{ author.avatar }}" alt="{{ author.name }}">
                                <span>{{ author.name }}</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <i class="ti-timer"></i>{% include reading-time.html content=page.content %}
                        </li>
                        <li class="list-inline-item">
                            <i class="ti-calendar"></i>{% include date-pt-BR.html date = page.date %}
                        </li>
                        <li class="list-inline-item">
                            {% assign tags = page.tags | sort_natural %}
                            <ul class="card-meta-tag list-inline">
                                {% for tag in tags %}
                                <li class="list-inline-item"><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <div class="content">
                        {{ content }}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>